---
import ModalContact from '../components/ModalContact.astro';

interface Props {
	classes?: string;
}

const { classes = '' } = Astro.props;
---

<div class:list={[ 'lg:flex lg:justify-between lg:items-center', [ classes ] ]}>
    <ModalContact title="Contacto" button="Contáctanos" button_class="w-full px-5 py-2 mt-4 text-lg text-center text-white capitalize transition-colors duration-200 bg-blue-600 transform border rounded-md lg:mt-0 hover:bg-blue-800">
        <slot name="modal_content" />
    </ModalContact>
</div>